
<div class="movie_card" id="ave">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="'https://image.tmdb.org/t/p/w500' + datosPelicula.poster_path" alt="{{datosPelicula.title}}"/>
      <h1>{{datosPelicula.title}}</h1>
      <h4>Fecha de estreno: {{datosPelicula.release_date}}</h4>
      <span class="minutes">Pouplaridad: {{datosPelicula.popularity}}</span>
      <p class="type" *ngFor="let genero of datosPelicula.genres">{{genero.name}},</p>
    </div>
    <div class="movie_desc" style="margin-top: -40px;">
      <p class="text">
        {{obtenerInfoPelicula(datosPelicula.overview)}}...
      </p>
      <button *ngIf="isListRoute(datosPelicula.id)" mat-raised-button color="warn" style="margin-top: 30px;;width: 60%;background-color: red;" (click)="navigateToSearch()">Volver al listado<mat-icon>keyboard_double_arrow_right</mat-icon></button>
      <button *ngIf="isFavoriteListRoute()" mat-raised-button color="warn" style="margin-top: 30px;;width: 60%;background-color: red;" (click)="deletePeliculaFavorita(datosPelicula)">Eliminar de favoritos<mat-icon>delete</mat-icon></button>
    </div>
    <div class="movie_social" style="margin-top: 20px; margin-bottom: 20px;">
      <ul>
        <li><i class="material-icons" *ngIf="isFavoriteListRoute()" style="color: red;"><mat-icon>favorite</mat-icon></i></li>
        <li><i class="material-icons" *ngIf="isListRoute(datosPelicula.id)" (click)="confirmAdd(datosPelicula.id)"><mat-icon>favorite</mat-icon></i></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="blur_back ave_back" style="background: url('https://image.tmdb.org/t/p/w500{{controlarErrorFondo(datosPelicula.backdrop_path)}}');background-size: 113%;"></div>
</div>
