<div class="flex flex-column p-2">
  <form [formGroup]="searchForm">
    <mat-form-field style="width: 40%; color: red;">
      <mat-label>Buscador de Pel&iacute;culas</mat-label>
      <input type="text" matInput  (keyup.enter)="searchPelicula()" formControlName="searchInput">
    </mat-form-field>
  </form>
  <div class="grid mb-8">
    <div *ngFor="let pelicula of peliculas" class="col-12 sm.col-4 md:col-3 xl:col-2" ><app-card [pelicula]="pelicula"></app-card></div>
  </div>

</div>

<div *ngIf="peliculas && peliculas.length > 0">
  <p style="text-align: center;margin-bottom: 30px; font-family: fantasy;font-size: 20px;">Página {{contador}}</p>
  <button mat-raised-button style="background-color: red; width: 30%;height: 50px;margin-bottom: 60px;margin-left: 30px;" (click)="anteriorPagina()" *ngIf="contador>1">Anterior Página</button>
  <span class="spacer"></span>
  <button mat-raised-button type="reset" style="background-color: red; width: 30%;height: 50px;margin-bottom: 160px;float: right;margin-right: 30px;" (click)="siguientePagina()" *ngIf="contador<=42470">Siguiente Página</button>

</div>
